<nav>
  <ul class="exercise-nav">
    <li><%= link_to '戻る', :back, class: 'nav-link btn btn-outline-secondary' %></li>
    <li><%= link_to '種目を作成', new_exercise_path, class: 'nav-link btn btn-primary text-white exercise-nav-new' %></li>
  </ul>
</nav>
