.pic_prev {
  object-fit: cover;
  width: 200px;
  height: auto;
  background-color: #fff;
}

.edit-profile-link {
  text-decoration: underline;
}

.caution {
  color: red;
}

.option {
  color: gray;
}
