.pic_prev {
  object-fit: cover;
  width: 200px;
  height: auto;
  background-color: #fff;
}

.edit-profile-link {
  text-decoration: underline;
}

.body {
  &-weight-required {
  color: red;
  }

  &-fat-option {
    color: gray;
  }
}
