.header {
  padding: 10px 20px;
  height: 80px;
  background-color: #103459;

  a {
    color: #fff;
    text-decoration: none;
  }

  .header-nav {
    .header-menu {
      padding-top: 5px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
        font-size: 25px;
        font-weight: bold;
      }

      &-user-name {
        font-size: 18px;
        font-weight: bold;
      }

      &-inner {
        display: flex;
        align-items: center;
      }

      a:hover {
        border-bottom: 3px solid #fff;
        transition: all 0.3s ease 0s;
      }
    }
  }
}

.current-h {
  padding: 8px 16px 8px;
  border-bottom: 3px solid #da5019;
}

.menu-link {
  padding: 8px 16px 11px;
}
